<!doctype html>
<html ng-app="gospoort" class="no-js" lang="">
    <head>

        <!-- General HEAD -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>GoSPOORT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/main.css">
        
        <!-- Scripts -->
        <script src="/js/dist/main.js"></script>

    </head>
    <body ng-controller="MainController">
        
        <div> <!-- MMENU -->
        
            <div ng-include="'views/header.html'"></div>

            <!-- header-title -->
            <section class="header-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="white">Find Trainers to match your needs</h1>
                        </div>
                    </div>
                </div>
            </section>

            <div class="content" ng-controller="TrainerController">
                <!-- sub-header-title -->
                <section class="sub-header-title">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12" ng-if="selectionDisciplines.length > 0">
                                <span class="lightblue">SEARCH</span> • <span class="black">{{filtered.length}} coaches</span> match your search
                            </div>
                            <div class="col-md-12" ng-if="selectionDisciplines.length === 0">
                                <span class="lightblue">SEARCH</span> • Use the sidebar to filter trainers 
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- trainers content -->
                <section class="trainers-content">
                    <div class="container">
                        <div class="row">
                            {{trainer}}
                            <!-- cards -->
                            <div class="col-md-9 cards">
                                <div class="row">
                                    
                                    <div class="col-md-6 card" ng-repeat="trainer in filtered = ( trainers | filter:filterLocations | filter:filterDisciplines)">
                                        <div class="inner">
                                            <div class="wrapper clearfix">
                                                <div class="image">
                                                    
                                                </div>
                                                <div class="info">
                                                    <h4>{{trainer.name}}</h4>
                                                    <h5>
                                                        <span class="disciplines" ng-repeat="discipline in trainer.discipline">
                                                            {{discipline}}<span ng-if="!$last">, </span>
                                                        </span>
                                                    </h5>
                                                    <div class="icons clearfix">
                                                        <div class="pay">${{trainer.pay}}</div>
                                                        <div class="time">{{trainer.time}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn" ng-click="viewDetail(trainer)">VIEW DETAILS</button>
                                        </div>
                                    </div>
                                </div>          
                            </div>
                            
                            <!-- sidebar -->
                            <div ng-include="'views/sidebar.html'"></div>

                        </div>
                    </div>
                </section>
            </div>
            
            <div ng-include="'views/footer.html'"></div>
        
        </div> <!-- MMENU -->
    </body>
</html>