{{trainer.trainers}}
<div class="col-md-9 cards">
	   <div class="row">
	   		<div class="col-md-6 card">
	   			<div class="inner">
	   				<div class="wrapper clearfix">
		   				<div class="image">
		   					
		   				</div>
		   				<div class="info">
		   					<h4>Dusan Novakvic</h4>
		   					<h5>Fitness, Core traning, Crossfit</h5>
		   					<div class="icons clearfix">
		   						<div class="pay">$25</div>
		   						<div class="time">0:45</div>
		   					</div>
		   				</div>
	   				</div>
	   				<button class="btn">VIEW DETAILS</button>
	   			</div>
	   		</div>
	   		<div class="col-md-6 card">
	   			<div class="inner">
	   				<div class="wrapper clearfix">
		   				<div class="image">
		   					
		   				</div>
		   				<div class="info">
		   					<h4>Dusan Novakvic</h4>
		   					<h5>Fitness, Core traning, Crossfit</h5>
		   					<div class="icons clearfix">
		   						<div class="pay">$25</div>
		   						<div class="time">0:45</div>
		   					</div>
		   				</div>
	   				</div>
	   				<button class="btn">VIEW DETAILS</button>
	   			</div>
	   		</div>
	   		<div class="col-md-6 card">
	   			<div class="inner">
	   				<div class="wrapper clearfix">
		   				<div class="image">
		   					
		   				</div>
		   				<div class="info">
		   					<h4>Dusan Novakvic</h4>
		   					<h5>Fitness, Core traning, Crossfit</h5>
		   					<div class="icons clearfix">
		   						<div class="pay">$25</div>
		   						<div class="time">0:45</div>
		   					</div>
		   				</div>
	   				</div>
	   				<button class="btn">VIEW DETAILS</button>
	   			</div>
	   		</div>
	   		<div class="col-md-6 card">
	   			<div class="inner">
	   				<div class="wrapper clearfix">
		   				<div class="image">
		   					
		   				</div>
		   				<div class="info">
		   					<h4>Dusan Novakvic</h4>
		   					<h5>Fitness, Core traning, Crossfit</h5>
		   					<div class="icons clearfix">
		   						<div class="pay">$25</div>
		   						<div class="time">0:45</div>
		   					</div>
		   				</div>
	   				</div>
	   				<button class="btn">VIEW DETAILS</button>
	   			</div>
	   		</div>
	   		<div class="col-md-6 card">
	   			<div class="inner">
	   				<div class="wrapper clearfix">
		   				<div class="image">
		   					
		   				</div>
		   				<div class="info">
		   					<h4>Dusan Novakvic</h4>
		   					<h5>Fitness, Core traning, Crossfit</h5>
		   					<div class="icons clearfix">
		   						<div class="pay">$25</div>
		   						<div class="time">0:45</div>
		   					</div>
		   				</div>
	   				</div>
	   				<button class="btn">VIEW DETAILS</button>
	   			</div>
	   		</div>
	   		<div class="col-md-6 card">
	   			<div class="inner">
	   				<div class="wrapper clearfix">
		   				<div class="image">
		   					
		   				</div>
		   				<div class="info">
		   					<h4>Dusan Novakvic</h4>
		   					<h5>Fitness, Core traning, Crossfit</h5>
		   					<div class="icons clearfix">
		   						<div class="pay">$25</div>
		   						<div class="time">0:45</div>
		   					</div>
		   				</div>
	   				</div>
	   				<button class="btn">VIEW DETAILS</button>
	   			</div>
	   		</div>
	   </div>          
</div>