 <div class="col-md-3 sidebar">
    <div class="inner">
        <h5>LOCATION</h5>
        
        <ul class="checkbox-group inline">
            <li class="checkbox" ng-repeat="location in locations">
                <input 
                    type="checkbox" 
                    id="{{location}}" 
                    ng-checked="selectionLocations.indexOf(location) > -1" 
                    ng-click="toggleLocations(location)">
                    
                <label for="{{location}}">
                    {{location}}                                
                </label>
            </li>
        </ul>

        <span class="divider"></span>

        <h5>DISCIPLINE</h5>

        <ul class="checkbox-group list">
            <li class="checkbox" ng-repeat="discipline in disciplines">
                <input 
                    type="checkbox" 
                    id="{{discipline}}" 
                    ng-checked="selectionDisciplines.indexOf(discipline) > -1" 
                    ng-click="toggleDisciplines(discipline)">

                <label for="{{discipline}}">
                    {{discipline}}                                
                </label>
            </li>
        </ul>
        {{selection}}
        
    </div>
</div>