 <div class="col-md-3 sidebar">
    <div class="inner">
        <h5>LOCATION</h5>
        
        <ul class="checkbox-group inline">
            <li class="checkbox">
                <input type="checkbox" id="location_1">
                <label for="location_1">
                    Outdoor                                
                </label>
                
            </li>
            
            <li class="checkbox">
                <input type="checkbox" id="location_2">
                <label for="location_2">
                    Indoor
                </label>
            </li>
        </ul>

        <span class="divider"></span>

        <h5>DISCIPLINE</h5>

        <ul class="checkbox-group list">
            <li class="checkbox">
                <input type="checkbox" id="location_3">
                <label for="location_3">
                    Basketball                                
                </label>
            </li>
            <li class="checkbox">
                <input type="checkbox" id="location_4">
                <label for="location_4">
                    Tennis
                </label>
            </li>
            <li class="checkbox">
                <input type="checkbox" id="location_5">
                <label for="location_5">
                    Football                                
                </label>
            </li>
            <li class="checkbox">
                <input type="checkbox" id="location_6">
                <label for="location_6">
                    Squash                                
                </label>
            </li>
            <li class="checkbox">
                <input type="checkbox" id="location_7">
                <label for="location_7">
                    Swinning                                
                </label>
            </li>
            <li class="checkbox">
                <input type="checkbox" id="location_8">
                <label for="location_8">
                    Golf                                
                </label>
            </li>
        </ul>
        
    </div>
</div>