// *****************************************************
// ******************* 1440px **************************
// *****************************************************

@media screen and (max-width: 1440px) {



 }

// *****************************************************
// ******************* 1280px Height *******************
// *****************************************************

@media screen and (max-width: 1280px) {



 }

 // ******************* 800px Height *******************
// *****************************************************

@media screen and (max-height: 800px) {


	

}

// *****************************************************
// ******************* 750px Height ********************
// *****************************************************

@media screen and (max-height: 750px) {



 }





 // *****************************************************
// ******************* 1220px ***************************
// *****************************************************
@media screen and (max-width: 1200px) {

	
	section.trainers-content .cards .card .inner {
	    padding: 15px 30px 10px 15px;
	    .info {
	        float: right;
	        width: 200px;
	    }
	    .image {
	    	width: 70px;
	    	height: 70px;
	    }
	}	
}




// *****************************************************
// ******************* 1024px **************************
// *****************************************************
@media screen and (max-width: 1024px) {

	
		section.trainers-content .cards .card .inner {
		    padding: 15px 30px 10px 15px;
		    .info {
		        float: right;
		        width: 200px;
		    }
		    .image {
		    	width: 70px;
		    	height: 70px;
		    }
		}	



 }

 // ****************************************************
// ******************* 768px ***************************
// *****************************************************

@media screen and (max-width: 768px) {

	section.trainers-content .cards .card .inner {
	    padding: 15px 30px 10px 15px;
	    .info {
	        float: right;
	        width: 200px;
	    }
	    .image {
	    	width: 70px;
	    	height: 70px;
	    }
	}

}

// *****************************************************
// ******************* 480px ***************************
// *****************************************************

@media screen and (max-width: 480px) {
	

	.navbar-toggle {
	    margin-top: 15px;
	    margin-bottom: 15px; 
	}
	.navbar {
	    min-height: 50px;
	}
	section.header-title h1 {
	    margin-top: 28px;
	    font-size: 16px;
	}
	section.trainers-content .cards .card .inner {
	    padding: 15px 30px 10px 15px;
	    .info {
	        float: right;
	        width: 200px;
	    }
	    .image {
	    	width: 70px;
	    	height: 70px;
	    }
	}
	.modal .trainer .card .inner .info {
	    float: none;
	    width: 100%;
	}
	.modal .trainer .card .inner .image {
	    float: none;
	}
	.modal .trainer .card .inner {
	    border-radius: 0px;
	    height: auto;
	    padding: 0px 10px 10px 10px;
	}


 }

 // ****************************************************
// ******************* 320px ***************************
// *****************************************************

@media screen and (max-width: 320px) {

	.navbar-toggle {
	    margin-top: 15px;
	    margin-bottom: 15px; 
	}
	.navbar {
	    min-height: 50px;
	}
	section.header-title h1 {
	    margin-top: 28px;
	    font-size: 16px;
	}
	section.trainers-content .cards .card .inner {
	    padding: 15px 30px 10px 15px;
	    .info {
	        float: right;
	        width: 175px;
	    }
	    .image {
	    	width: 50px;
	    	height: 50px;
	    }
	}


	

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 

	
	

}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

	

 }

